body {
  background: radial-gradient(#444, #222);
  color: white;
  font-family: sans-serif;
  margin:0;
  overflow: hidden;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  color: #eee;
  font-size: 13px;
  background-color: rgba(0, 0, 0, .5);
}

.link {
  stroke: white;
  stroke-opacity: 0.6;
  stroke-width: 0.75px;
}

.node {}

.link.faint {
  stroke-opacity: 0.1;
  transition: stroke-opacity 0.2s ease;
}

.node.faint {
  fill-opacity: 0.1;
  transition: fill-opacity 0.2s ease;
}

.link[property="http://xmlns.com/foaf/0.1/maker"] {
  stroke-width: 2px;
}

.node[typeof="http://usefulinc.com/ns/doap#Project"] {
  fill: rgba(119,174, 10,1);
}

.node[typeof="http://www.w3.org/2004/02/skos/core#Concept"] {
  fill: rgba(  7,112,112,1);
}

.node[resource="http://marcoko.ch/#i"] {
  fill: rgba(186, 11, 11,1);
}

.node[resource^="http://dbpedia.org/resource/"] {
  fill: rgba( 62,  0,  0,1);
}
