.link {
  stroke: #444;
  stroke-opacity: 0.6;
  stroke-width: 0.75px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link[uri="http://xmlns.com/foaf/0.1/maker"] {
  stroke-width: 2px;
}

.node[rdftype="http://usefulinc.com/ns/doap#Project"] {
  fill:#888;
}
.node[rdftype="http://www.w3.org/2004/02/skos/core#Concept"] {
  fill:#0f0;
}

.node[uri="http://marcoko.ch/#i"] {
  fill:#00f;
}
