body {
  background: radial-gradient(#444, #222);
  color: white;
  font-family: sans-serif;
  margin:0;
  overflow: hidden;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 15px;
  color: #eee;
  font-size: 13px;
  background-color: rgba(0, 0, 0, .5);
  max-width: 33%;
  display: table;
}

.info h1 {
  font-size: 18px;
  display: inline;
}

.info .typeLabel, .info .uri, .info .langTagDesc, .info .langTagName {
  color: #888;
  font-size: 11px;
}

.info a {
  color: #eee;
  font-size: 13px;
  text-decoration: underline;
}

.info a:hover {
  text-decoration: none;
}

.link {
  stroke: white;
  stroke-opacity: 0.6;
  stroke-width: 0.75px;
}

.node {
    cursor: grab;
}

.node:active {
    cursor: move;
}


.link.faint {
  stroke-opacity: 0.1;
  transition: stroke-opacity 0.2s ease;
}

.node.faint {
  fill-opacity: 0.1;
  transition: fill-opacity 0.2s ease;
}

.link[property="http://xmlns.com/foaf/0.1/maker"] {
  stroke-width: 2px;
}

.node[typeof="http://usefulinc.com/ns/doap#Project"] {
  fill: rgb(249, 84, 29, 1);
}

.node[typeof="http://www.w3.org/2004/02/skos/core#Concept"] {
  fill: rgba(  7,112,112, 1);
}

.node[resource="http://marcoko.ch/#i"] {
  fill: gray;
}

.node[resource^="http://dbpedia.org/resource/"] {
  fill: rgba(119,174, 10,1);
}

.dbpedia {
  background: rgba(119,174, 10,1);
}

.skos {
  background: rgba(  7,112,112,1);
}

.doap {
  background: rgb(249, 84, 29, 1);
}

.me {
    background-color: darkgray;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1 ;
    box-sizing: border-box;
    padding: 30px;
}

#overlay p, #overlay li, #overlay a{
    color: white;
    font-weight: normal;
    text-align: left;
    list-style-type: none;
    font-size: 25px;
    text-decoration: none;
}

#overlay a {
    cursor: pointer;
}

#overlay a:hover {
    text-decoration: underline;
}

.dot {
  height:25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

